<h1>Modifier un medecin</h1>

<div class="dialogue">
  
 

  <mat-form-field >
    <mat-label>nom</mat-label>
    <input matInput type="string" class="example-left-align" >
    </mat-form-field>

      <mat-form-field>
        <mat-label>tel</mat-label>
        <input matInput type="string" class="example-left-align" >
       
        </mat-form-field>

        <mat-form-field >
          <mat-label>specialite</mat-label>
          <input matInput type="string" class="example-left-align" >
        </mat-form-field>

        <div class="example-button-row">    
          <button class="cancel-btn" mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
          <button class="confirm-btn" mat-raised-button color="primary" (click)="onSave()">Ajouter</button>
      </div>
</div>