<body>
  <div class="container">
    <div class="row">
      <section class="discussions">
        <div class="discussion" *ngFor="let chatroom of chatrooms">
          <a href="/admin/chat/conversation/{{ chatroom.id }}" class="linker">
            <div
              class="photo"
              style="
                background-image: url(https://images.unsplash.com/photo-1435348773030-a1d74f568bc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
              "
            >
              <div class="online"></div>
            </div>
            <div class="desc-contact">
              <p class="name">{{ chatroom.collaboratorMatricule }}</p>
              <p class="message">
                Matrricule Num : {{ chatroom.users.matricule }}
              </p>
            </div>
          </a>
        </div>
      </section>
      <section
        class="chat"
        style="
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          padding-top: 100px;
        "
      >
        <div class="flx">
          <p>Insert the Matricule of the targetted Collaborateur</p>
          <Input
            type="text"
            class="inputSend"
            placeholder="Enter the Matricule"
            (keyup)="setMatricule($event)"
          />

          <textarea
            type="text"
            class="inputSend"
            placeholder="Fist Message"
            (keyup)="setMess($event)"
          ></textarea>

          <button (click)="sendFirst()" class="sendBtn">
            Send First Message
          </button>
        </div>
      </section>
    </div>
  </div>
</body>
