<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil Collaborateur</title>
  
    <link rel="stylesheet" href="acceuilc.component.css">
</head>
<body>
       <!-- ======================= Cards ================== -->
       <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">95 000</div>
                <div class="cardName">Employés</div>
            </div>

            <div class="iconBx">
              
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">27</div>
                <div class="cardName">Pays</div>
            </div>

            <div class="iconBx">
               
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">+40</div>
                <div class="cardName">Ans</div>
            </div>

            <div class="iconBx">
               
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">23 000</div>
                <div class="cardName">Employés en Tunisie</div>
            </div>

            <div class="iconBx">
                
            </div>
        </div>
    </div>

   <!-- ================  acceuil ================= -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Leoni Tunisie </h2>
        </div>

        <div class="charts">
            <div class="pie" [chart]="donutChart"></div>
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>
    </div>
</div>

    
    
<div class="main-content">
    <router-outlet></router-outlet>
</div>

<!-- ====== ionicons ======= -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>