.container {
  height: 90vh;
  overflow-y: auto;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: start; /* Align items to the top */
}

.info-card {
  position: relative;
  display: flex;
  padding: 20px;
  max-width: 600px;
  margin: 20px; /* Add margin between cards */
  background-color: white; /* Add a background color for visibility */
}

.card-content {
  display: flex;
  align-items: center;
  width: 600px;
}

.photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.info h2 {
  margin: 0 0 10px 0;
}

.info p {
  margin: 5px 0;
}

.addBon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #003d89;
  color: white;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.id {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 20px;
  font-size: 15px;
}
