<h1>Ajouter un medecin</h1>

<div class="dialogue">
  <mat-form-field floatLabel="always">
    <mat-label>matricule</mat-label>
    <input
      matInput
      type="number"
      class="example-right-align"
      (keyup)="setMatricule($event)"
    />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>nom</mat-label>
    <input
      matInput
      type="text"
      class="example-right-align"
      (keyup)="setNom($event)"
    />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>spécialité</mat-label>
    <input
      matInput
      type="text"
      class="example-right-align"
      (keyup)="setSpecialite($event)"
    />
  </mat-form-field>

  <div class="example-button-row">
    <button
      class="cancel-btn"
      mat-raised-button
      color="warn"
      (click)="onNoClick()"
    >
      Annuler
    </button>
    <button
      class="confirm-btn"
      mat-raised-button
      color="primary"
      type="button"
      (click)="onSave()"
    >
      Ajouter
    </button>
  </div>
</div>
