<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard admin</title>

    <link rel="stylesheet" href="admin-dashboard.component.css" />
  </head>
  <body>
    <!-- -------------------- search-------------------->

    <!-- ======================= Cards ================== -->
    <div class="cardBox">
      <div class="card">
        <div>
          <div class="numbers">95 000</div>
          <div class="cardName">Employés</div>
        </div>

        <div class="iconBx"></div>
      </div>

      <div class="card">
        <div>
          <div class="numbers">27</div>
          <div class="cardName">Pays</div>
        </div>

        <div class="iconBx"></div>
      </div>

      <div class="card">
        <div>
          <div class="numbers">+40</div>
          <div class="cardName">Ans</div>
        </div>

        <div class="iconBx"></div>
      </div>

      <div class="card">
        <div>
          <div class="numbers">23 000</div>
          <div class="cardName">Employés en Tunisie</div>
        </div>

        <div class="iconBx"></div>
      </div>
    </div>

    <!-- ================  List ================= -->
    <div class="details">
      <div class="calendrier">
        <div class="cardHeader">
          <h2>LEONI Tunisie</h2>
        </div>

        <table>
          <!---------------------calendrier --------------------->
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
          </mat-card>
        </table>
      </div>

      <!-- ================= New Coll ================ -->

      <div class="recentCustomers">
        <div class="cardHeader">
          <h2>Collaborateur récents</h2>
        </div>

        <table>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Kacem <br />
                <span>IT engineer</span>
              </h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="	https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Salma <br />
                <span>Software engineer</span>
              </h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="	https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Maryem <br />
                <span>Mechanical engineer</span>
              </h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="	https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Ahmed <br />
                <span>Technicien</span>
              </h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="	https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Mohamed <br />
                <span>Chauffeur</span>
              </h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="	https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Ahlem bs <br />
                <span>Comptable</span>
              </h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="	https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                David <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>

          <tr>
            <td width="60px">
              <div class="imgBx">
                <img
                  src="	https://icon-library.com/images/web-user-icon/web-user-icon-8.jpg"
                  alt=""
                />
              </div>
            </td>
            <td>
              <h4>
                Amit <br />
                <span>India</span>
              </h4>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
